@media (min-width: 1281px) {
  /* CSS */
}

/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1025px) and (max-width: 1280px) {
  /* CSS */
}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) {
  .line1 {
    height: 5px !important;
    width: 30% !important;
  }
  .line-text h3 {
    font-size: 20px !important;
  }
  .banner {
    height: 50vh;
  }
}

/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .line1 {
    height: 5px !important;
    width: 30% !important;
  }
  .line-text h3 {
    font-size: 20px !important;
  }
  .banner {
    height: 50vh;
  }
}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {
  .banner {
    height: 50vh;
  }
  .txt h1 {
    font-size: 2.4rem;
    color: var(--color-light-red);
  }
  .search-sec {
    margin-top: 0px;
    width: 100%;
  }
  .search-input {
    width: 85%;
  }
  .search-box {
    width: 40%;
  }
  .about-sec img {
    max-width: 100%;
  }
  h2 {
    font-size: 28px;
    margin-top: 20px;
  }
  h3 {
    font-size: 24px;
  }
  .prop-img img {
    width: 30px !important;
  }
  .publish-btn {
    font-size: 18px !important;
    padding: 8px 40px !important;
  }
  .builder-sec .card .card-body {
    opacity: 1;
  }
  .feature .card-body .card-desc {
    top: 4%;
    width: 50%;
    margin-left: 35px;
  }
  .builder-sec img:hover {
    display: none;
  }
  .builder-sec .card:hover .card-body {
    display: none;
  }
  .testimonial .card p {
    font-size: 16px;
  }
  .mlightbox--container {
    display: block !important;
  }
  .image_overview--container {
    max-width: 100% !important;
  }
  .image_overview--container > img {
    width: 22rem !important;
  }
  .lb-album.image_gallery {
    padding-top: 13px !important;
    width: 22rem !important;
  }
  .lb-album.image_gallery li {
    padding-bottom: 20px !important;
  }
  .rent-btn {
    margin-top: 15px !important;
  }
  .navbar-brand img {
    max-width: 130px !important;
  }
  .circle img {
    width: 30px !important;
  }
  .line1 {
    height: 5px !important;
    width: 30% !important;
  }
  .line-text h3 {
    font-size: 20px !important;
  }
  .line-text-sty {
    height: 5px;
    width: 30%;
  }
  .navbar-nav {
    width: 50% !important;
  }
  .navbar-nav .nav-item {
    margin: 10px 0 0 20px !important;
  }
}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {
  .banner {
    height: 50vh;
  }
  .txt h1 {
    font-size: 2.4rem;
    color: var(--color-light-red);
  }
  .search-sec {
    margin-top: 0px;
    width: 100%;
  }
  .search-input {
    width: 85%;
  }
  .search-box {
    width: 40%;
  }
  .about-sec img {
    max-width: 100%;
  }
  h2 {
    font-size: 28px;
    margin-top: 20px;
  }
  h3 {
    font-size: 18px;
  }
  .prop-img img {
    width: 30px !important;
  }
  .publish-btn {
    font-size: 18px !important;
    padding: 8px 40px !important;
  }
  .about-sec p {
    margin-top: -15px;
  }
  .builder-sec .card .card-body {
    opacity: 1;
  }
  .feature .card-body .card-desc {
    top: 4%;
    width: 50%;
    margin-left: 35px;
  }
  .builder-sec img:hover {
    display: none;
  }
  .testimonial .card p {
    font-size: 16px;
  }
  .mlightbox--container {
    display: block !important;
  }
  .image_overview--container {
    max-width: 100% !important;
  }
  .image_overview--container > img {
    width: 22rem !important;
  }
  .lb-album.image_gallery {
    padding-top: 13px !important;
    width: 22rem !important;
  }
  .lb-album.image_gallery li {
    padding-bottom: 20px !important;
  }
  .rent-btn {
    margin-top: 15px !important;
  }
  .navbar-brand img {
    max-width: 130px !important;
  }
  .circle img {
    width: 30px !important;
  }
  .line1 {
    height: 5px !important;
    width: 30% !important;
  }
  .line-text h3 {
    font-size: 20px !important;
  }
  .line-text-sty {
    height: 5px;
    width: 30%;
  }
  .navbar-nav {
    width: 50% !important;
  }
  .navbar-nav .nav-item {
    margin: 10px 0 0 20px !important;
  }
}
