.lb-album.image_gallery {
  display: flex;
  width: 50rem;
  padding: 1rem;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border: 1px solid grey;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.4);
}

.lb-album.image_gallery li {
  margin-top: 0.6rem;
  list-style: none;
}

.mlightbox--container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* align-items: center; */
}

.image_overview--container {
  max-width: 40%;
  position: relative;
  /* max-width: 30%;
  height: 30rem; */
}
.image_overview--container > img {
  width: 15rem;
  height: 20rem;
}

.image_overview--desc {
  padding: 0.4rem;
  width: 100%;
  height: 20%;
  position: absolute;
  bottom: 0px;
  background-color: rgba(255, 0, 0, 0.2);
}

.image_overview--title {
  font-weight: 800;
  font-size: 1rem;
  text-transform: capitalize;
}

.image_overview--title,
.image_overview--content {
  color: white;
  font-size: 0.8rem;
  text-align: center;
}
/*----------------*/

.owl-carousel .card {
  box-shadow: 0px 4px 8px 0px #bdbdbd;
}

.profile-pic {
  width: 100px !important;
  height: 100px;
  box-shadow: 0px 4px 8px 0px #bdbdbd;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
  background: 0 0;
  color: #1e88e5 !important;
  border: none;
  padding: 5px 20px !important;
  font: inherit;
  font-size: 50px !important;
}

.owl-carousel .owl-nav button.owl-next:hover,
.owl-carousel .owl-nav button.owl-prev:hover {
  color: #0d47a1 !important;
  background-color: transparent !important;
}

.owl-dots {
  display: none;
}

.owl-carousel button:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline-width: 0;
}

.owl-carousel .item {
  display: none;
}

.owl-carousel .next {
  display: block !important;
  position: relative;
  transform: scale(0.8);
  transition-duration: 0.3s;
  opacity: 0.6;
}

.owl-carousel .prev {
  display: block !important;
  position: relative;
  transform: scale(0.8);
  transition-duration: 0.3s;
  opacity: 0.6;
}

.owl-carousel .item.show {
  display: block;
  transition-duration: 0.4s;
}

@media screen and (max-width: 999px) {
  .owl-carousel .next,
  .owl-carousel .prev {
    transform: scale(1);
    opacity: 1;
  }

  .owl-carousel .item {
    display: block !important;
  }
}
